.article {
    padding-bottom: 150px;

    &__title {
        margin-bottom: 60px;
    }

    &__inner {
        margin-bottom: 60px;
    }

    &__content {
        padding: 30px;
        background-color: #ffffff;
        border-radius: 0 5px;
    }

    &__text {
        margin-bottom: 60px;
        p {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__img {
        img {
            display: flex;
        }
    }
    
    &__date {
        color: $grey;

        time {
            display: inline-block;
            color: $blue;
            margin-left: 11px;
        }
    }

    &__news-title {
        font-size: 24px;
        line-height: 32px;
        font-family: 'Roboto-Medium', sans-serif;
        font-weight: 500;
        margin-bottom: 60px;
    }
}