.branches {

    &__title {
        margin-bottom: 60px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }

    &__item {
        margin-bottom: 30px;
        margin-left: 15px;
        margin-right: 15px;
        width: calc(50% - 30px);
        border-radius: 5px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);

        a {
            display: block;
            position: relative;
            padding: 30px;
            padding-left: 90px;

            &::before {
                position: absolute;
                content: "";
                top: 50%;
                transform: translateY(-50%);
                left: 30px;
                height: 48px;
                width: 2px;
                background-color: $green;
            }
        }
    }
}
