.department {
    padding-bottom: 150px;

    &__title {
        margin-bottom: 60px;
    }

    &__subtitle {
        font-family: 'Roboto-Medium', sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 30px;
    }

    &__box {
        line-height: 30px;
        padding: 30px;
        background-color: #ffffff;
        margin-bottom: 60px;

        p {
            margin-bottom: 30px;
            margin-top: 0;
        }
        
        p:last-child {
            margin-bottom: 0;
        }
    }
    

}

.department-team {
    margin-bottom: 60px;

    &__contact { 
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;

        &:last-child {
            margin-bottom: 0;
            margin-top: 0;
        }

        img {
            flex-shrink: 0;
            margin-right: 10px;
        }
    }
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    &__item {
        width: calc(33.333% - 30px);
        margin: 15px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    }

    &__img {
        background-color: $grey;
        border-radius: 5px 0;
        height: 370px;

        img {
            display: flex;
            height: 370px;
            width: 100%;
        }
    }

    &__content {
        padding: 20px;
    }

    &__name {
        font-family: 'Roboto-Medium', sans-serif;
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__position {
        color: $blue;
    }     
}

.clinic {
    padding-bottom: 150px;
    &__list {
        margin-bottom: 100px;
    }
    
    .department__box {
        p {
            text-indent: 30px;
        }
    }

    .clinic__item {

        &.open {
            .clinic__text {
                display: block;
            }
        }
        .clinic__text ul {
            padding: 0;
        }
        li {
            display: block;
        }
    }

    &__text {
        display: none;
        list-style-type: '-';
        ul {
        }
    }
    
    &__accordion-title {
        text-transform: uppercase;
        font-family: 'Roboto-Medium', sans-serif;
        font-weight: 500;
        line-height: 30px;
    }
    
    &__btn {
        display: inline-block;
        padding: 5px;
        border-radius: 26px;
        min-width: 200px;
        color: $green;
        background-color: #fff;
        border: 1px solid #e6edff;
        transition: .2s ease;
    }


    &__btn-content {
        display: flex;
        text-align: center;
        align-items: center;
        border-radius: 26px;
        background-color: #E5F4F3;
        padding: 5px;
        
        img {
            margin-right: 15px;
            flex-shrink: 0;
        }
    }

    &__info {
        display: flex;
        margin-top: 100px;
    }

    &__contacts {
        max-width: 370px;
        width: 100%;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
        border-radius: 5px;
        padding: 30px;
    }

    &__contacts-item {
        margin-bottom: 30px;
    }

    &__contacts-title {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        font-family: 'Roboto-Medium', sans-serif;
        font-weight: 500;
        
        img {
            flex-shrink: 0;
            margin-right: 10px;
        }
    }

    &__contacts-value {
        display: block;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__desc {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
        border-radius: 5px;
        padding: 30px;
        max-width: 780px;
        width: 100%;
        margin-left: 30px;
    }

    &__notice-box {
        background-color: #E6EDFF;
        padding: 20px;
        margin-bottom: 30px;
        border-radius: 5px;
    }

    &__notice-title {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        color: $blue;

        img {
            margin-right: 20px;
            flex-shrink: 0;
        }
    }

    &__notice-subtitle {
        font-family: 'Roboto-Medium', sans-serif;
        font-weight: 500;
        margin-bottom: 35px;
    }

}