.department {
    padding-bottom: 150px;

    &__title {
        margin-bottom: 60px;
    }

    &__subtitle {
        font-family: 'Roboto-Medium', sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 30px;
    }

    &__box {
        line-height: 30px;
        padding: 30px;
        background-color: #ffffff;
        margin-bottom: 60px;

        p {
            margin-bottom: 30px;
        }
        
        p:last-child {
            margin-bottom: 0;
        }
    }
    

}

.department-team {
    margin-bottom: 60px;
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    &__item {
        width: calc(33.333% - 30px);
        margin: 15px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    }

    &__img {
        background-color: $grey;
        border-radius: 5px 0;
        img {
            display: flex;
            height: 370px;
            width: 100%;
        }
    }

    &__content {
        padding: 20px;
    }

    &__name {
        font-family: 'Roboto-Medium', sans-serif;
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__position {
        color: $blue;
    }     
}
