.footer {
    border-top: 1px solid #DFDFDF;
    padding-top: 60px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 30px;
        margin-left: -15px;
        margin-right: -15px;
    }

    &__col {
        margin-left: 15px;
        margin-right: 15px;
    }

    &__title {
        position: relative;
        font-family: 'Roboto-Medium', sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 20px;
        margin-bottom: 30px;
        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 62px;
            height: 2px;
            background-color: $green;
        }
    }

    &__list {
        li {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            transition: .2s ease;
        }
    }

    &__logo {
        display: block;
        margin-bottom: 40px;
        img {
            width: 215px;
        }
    }

    &__contacts {
        margin-bottom: 30px;
    }

    &__geo {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        img {
            flex-shrink: 0;
            margin-right: 10px;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        li + li {
            margin-left: 20px;
        }
    }

    &__bottom {
        border-top: 1px solid #DFDFDF;
    }
    
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Roboto-Light', sans-serif;
        font-weight: 300;
        padding: 10px 0;
    }

    &__copy {
        font-size: 14px;
    }

    &__author {

        span {
            font-family: 'Roboto-Medium', sans-serif;
            font-weight: 500;
            color: $green;
        }
    }
    
}
