.header {
    background-color: #ffffff;

    &.hovered {
        position: relative;
        z-index: 30;
    }
    
    &__top {
        border-bottom: 1px solid #DFDFDF;
    }

    &__top-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        
        a {
            transition: .2s ease;
        }
    }

    &__geo {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 19px;
        font-weight: 300;

        img {
            flex-shrink: 0;
            margin-right: 10px;
        }

    }

    &__top-navigation {
        ul {
            // font-family: 'Roboto-Light', sans-serif;
            font-weight: 300;
            display: flex;
        }

        li + li {
            margin-left: 30px;
        }
    }

    &__middle-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;
    }

    &__contacts {
        display: flex;
        align-items: center;
    }

    &__contact {
        margin-left: 60px;

        img {
            margin-right: 15px;
            flex-shrink: 0;
        }
        
        &:first-child {
            margin-left: 0;
        }
    }

    &__contact-top {
        display: flex;
        align-items: center;
        padding-bottom: 5px;

        span {
            position: relative;
            display: inline-block;
            &::after {
                position: absolute;
                content: "";
                left: 0;
                bottom: -3px;
                width: 0;
                height: 1px;
                background-color: $black;
                transition: .2s ease;
            }
        }
    }

    &__contact-bottom {
        color: $green;
        font-size: 12px;
        line-height: 16px;
    }

    &__buttons {
        display: flex;
        align-items: center;
    }

    &__btn {
        padding: 5px;
        margin-left: 15px;
        border-radius: 26px;
        min-width: 190px;
        background-color: #fff;
        border: 1px solid #e6edff;
        transition: .2s ease;

        &:first-child {
            margin-left: 0;
        }
    }

    &__btn--blue {
        color: $blue;
        .header__btn-content {
            background-color: #e6edff;
        }
    }

    &__btn--green {
        color: $green;

        .header__btn-content {
            background-color: #E5F4F3;
        }
    }

    &__btn-content {
        display: flex;
        text-align: center;
        align-items: center;
        border-radius: 26px;
        background-color: #e6edff;
        padding: 5px;
        
        img {
            margin-right: 15px;
            flex-shrink: 0;
        }
    }

    &__bottom {
        background-color: $green;
        color: #ffffff;
        &.fixed {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 13;
        }
    }

    &__navigation {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            align-items: center;
            width: 100%;
        }

        li + li{
            margin-left: 30px;
        }

        a {
            position: relative;
            display: inline-block;
            padding: 15px 0;
            

            &::before,
            &::after {
                position: absolute;
                content: "";
                background-color: #fff;
                height: 2px;
                width: 0;
                transition: .3s ease;
            }

            &::before {
                left: 0;
                top: 0;
            }

            &::after {
                right: 0;
                bottom: 0;
            }
        }
        
        .header__covid {
            margin-left: auto;
        }
    }

    &__navigation-list {
        position: relative;
        & > a {
            padding-left: 55px;
            background: url('../images/dist/burger.svg') left center no-repeat;
        }
        ul {
            display: none;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            top: 51px;
            z-index: 7;
            left: 0;
            width: 410px;
            background-color: #F8F8F8;
            color: $black;

            li {
                margin: 0;
                width: 100%;
                &:last-child {
                    margin-bottom: 0;
                    a {
                        padding-bottom: 30px;
                    }
                }
                &:first-child a{
                    padding-top: 30px;
                }

            }

            a {
                display: block;
                width: 100%;
                padding: 10px 30px;
            }
        }
    }
    
    
    &__covid {
        a {
            display: flex;
            align-items: center;
        }
        img {
            flex-shrink: 0;
            margin-right: 10px;
        }
    }

    &__menu-btn {
        width: 32px;
        cursor: pointer;
        display: none;

        span {
            position: relative;
            display: block;
            width: 100%;
            height: 2px;
            background-color: #fff;
            margin-bottom: 5px;
            border-radius: 20px;


            &:last-child {
                width: 22px;
                margin-bottom: 0;
                margin-left: auto;
            }
        }
    }

    &__menu {
        transform: translateX(-200%);
        position: fixed;
        width: calc(100% - 50px);
        max-width: 400px;
        padding-top: 20px;
        padding-bottom: 30px;
        overflow: auto;
        padding-left: 15px;
        padding-right: 20px;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 19;
        background-color: #ffffff;
        transition: .3s ease;

        &.open {
            transform: translateX(0);
        }
    }
}

.menu {
    &__title {
        font-size: 24px;
        line-height: 32px;
        color: $black;
        margin-bottom: 15px;
    }

    &__list > a {
        position: relative;
        padding-right: 50px;
        &::before,
        &::after {
            position: absolute;
            content: "";
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            background-color: $green;
            height: 2px;
            width: 20px;
            transition: .2s ease;
        }

        &::after {
            transform: rotate(90deg);
        }
    }

    &__list {
        ul {
            display: none;
        }
    }

    &__list.open {
        ul {
            display: block;
        }
        a {
            &::after {
                transform: rotate(0);
            }
        }
    }
    
    &__navigation {
        margin-bottom: 30px;
        a {
            display: flex;
            align-items: center;
            padding-top: 18px;
            padding-bottom: 18px;
        }

        img {
            margin-right: 20px;
            flex-shrink: 0;
        }

        li {
            font-size: 18px;
            border-bottom: 1px solid #ecebeb;

            &:first-child {
                border-top: 1px solid #ecebeb;
            }
        }
    }
}