.hero {
    &__slider {
        height: 800px;
    }
    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
    }
}