.hero {
    position: relative;
    padding-bottom: 75px;
    &__slider {
        height: 800px;
    }
    &__item {
        position: relative;
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: #ffffff;

        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, .3);
        }
    }

    &__title {
        // font-family: 'Roboto-Medium', sans-serif;
        font-weight: 500;
        font-size: 56px;
        line-height: 74px;
        margin-bottom: 30px;
    }

    &__text {
        // font-family: 'Roboto-Medium', sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
    }

    &__content {
        position: relative;
        z-index: 3;
        max-width: 970px;
    }

    &__bottom {
        position: relative;
        z-index: 5;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
        padding: 30px 60px;
        background-color: #fff;
        margin-top: -70px;
    }

    &__bottom-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: -10px;
        margin-right: -10px;
    }

    &__bottom-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    &__bottom-head {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        img {
            flex-shrink: 0;
            margin-left: 20px;
        }
    }

    &__bottom-count {
        // font-family: 'Roboto-Medium', sans-serif;
        font-weight: 500;
        font-size: 36px;
        line-height: 48px;
    }

    &__bottom-caption {
        text-align: center;
    }

    &__widget {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        color: #ffffff;
        width: 80px;
        height: 80px;
        background-color: $green;
        border-radius: 50%;
        text-align: center;
        right: 170px;
        z-index: 6;
        bottom: 100px;
        // bottom: 260px;

        
        &::before,
        &::after {
            position: absolute;
            content: "";
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            border: 1px solid #009688;
            animation: pulse 3s ease infinite forwards;
            transition: .5s ease;
        }

        &::before {
            width: 100px;
            height: 100px;
            opacity: .5;
        }

        &::after {
            width: 120px;
            height: 120px;
            opacity: .3;
        }
    }

    &__pagination-container {
        position: absolute;
        height: 800px;
        left: 0;
        right: 0;
    }

    &__pagination {
        display: flex;
        flex-direction: column;
        width: 20px;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);

        .swiper-pagination-bullet {
            width: 20px;
            height: 20px;
            background-color: #F8F8F8;
            border: 3px solid transparent;
            margin-bottom: 20px;
            opacity: .5;
            outline: transparent;
        }
        .swiper-pagination-bullet-active {
            border-color: #fff;
            background-color: $green;
            opacity: 1;
        }
    }
}
