.history {
    padding-bottom: 150px;

    &__inner {
        padding-bottom: 60px;
        line-height: 30px;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__list {
        position: relative;
        padding-left: 70px;
        margin-bottom: 60px;
        &::before {
            position: absolute;
            content: "";
            left: 20px;
            top: 0;
            height: calc(100% - 30px);
            width: 1px;
            background-color: $green;
        }
    }

    &__item {
        position: relative;
        margin-bottom: 60px;

        &::before {
            position: absolute;
            content: "";
            left: -69px;
            top: -5px;
            width: 40px;
            height: 40px;
            background-color: $green;
            border: 15px solid #E5F4F3;
            border-radius: 50%;
        }
        
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__text {
        p {
            margin: 0;
        }
        p + p{
            text-indent: 30px;
        }
    }
}

.gallery {

    &__title {
        font-size: 24px;
        line-height: 32px;
        font-family: 'Roboto-Medium', sans-serif;
        font-weight: 500;
        margin-bottom: 30px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    &__item {
        margin: 15px;
        width: calc(25% - 30px);

        img {
            display: flex;
            width: 100%;
        }

        a {
            display: block;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(#009688 0%, #001412 100%);
                z-index: 1;
                opacity: 0;
                transition: .2s ease;
            }

            &::after {
                position: absolute;
                content: "";
                left: 50%;
                top: 50%;
                width: 70px;
                height: 70px;
                transform: translate(-50%, -50%);
                z-index: 1;
                opacity: 0;
                background: url('../images/dist/gallery-hover.svg') center no-repeat;
                transition: .2s ease;
            }
    
        }
    }
}
