.info {
    padding: 75px 0;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        max-width: 470px;
        p {
            text-indent: 25px;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__img {
        max-width: 700px;
        margin-left: 30px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
        img {
            display: flex;
        }
    }
}
