/**************************\
  Basic Modal Styles
\**************************/

.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.modal__container {
    position: relative;
    max-width: 1450px;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    max-height: 95vh;
    padding-top: 50px;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-right: 50px;
    margin-top: 60px;
    margin-bottom: 100px;
    padding-left: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    overflow-y: auto;
}

.modal__body {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 60px 100px;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.modal__close {
    position: absolute;
    right: 10px;
    top: 10px;
    background: transparent;
    border: 0;
    z-index: 6;
    cursor: pointer;
    outline: transparent;
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}


/**************************\
    Demo Animation Style
  \**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden='false'] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='false'] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

#modal-3 {
    .modal__container {
        max-width: 800px;
    }
    text-align: center;
    .modal__title {
        margin-bottom: 30px;
    }
}

.modal {
    &__img {
        margin-bottom: 30px;
        text-align: center;
        img {
            margin: 0 auto;
        }
    }

    &__subtitle {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: -10px;
        margin-right: -10px;
    }

    &__fields {
        margin-bottom: 40px;
    }

    &__col {
        width: 42%;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    &__form-item {
        margin-bottom: 30px;

        &.hide {
            display: none;
        }

        span {
            display: inline-block;
            margin-bottom: 10px;
            font-weight: 500;
        }

        input {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            display: block;
            width: 100%;
            background-color: #F8F8F8;
            padding: 12px 20px;
            border-radius: 5px;
            border: none;
            color: $black;

            &::placeholder {
                color: $grey;
            }
        }
    }

    label {
        cursor: pointer;
    }

    &__form-radio {
        & > span {
            margin-bottom: 20px;
        }
    }


    &__form-radiobuttons {
        display: flex;
        align-items: center;

        label {
            display: flex;
            align-items: center;
            & + label {
                margin-left: 30px;
            }
            span {
                margin-bottom: 0;
            }
        }
    }
    
    &__radio {
        margin-right: 20px;
        width: 35px;
        height: 35px;
        background-color: $grey;
        border: 10px solid #ECEBEB;
        border-radius: 50%;
        flex-shrink: 0;
    }

    &__foot {
        .modal__col {
            width: 45%;
        }
    }

    input[type="radio"] {
        display: none;

        &:checked ~ .modal__radio {
            background-color: $green;
            border-color: #E5F4F3;
        }
    }

    &__check {
        label {
            display: flex;
            align-items: center;
        }

        span {
            
            display: inline-block;
            margin-left: 25px;
        }
        input {
            display: none;
        }
        input:checked {
            & ~ .modal__checkbox::after {
                opacity: 1;
            }
        }
    }

    .modal__checkbox {
        flex-shrink: 0;
        margin: 0;
        width: 21px;
        height: 21px;
        background-color: #ECEBEB;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 26px;
            height: 19px;
            opacity: 0;
            background: url('../images/dist/checked.svg') center no-repeat;
        }

    }

    &__btn {
        cursor: pointer;
        text-align: center;
        display: inline-block;
        padding: 5px;
        border-radius: 26px;
        background-color: #fff;
        border: 1px solid #e6edff;
        transition: .2s ease;

        &:first-child {
            margin-left: 0;
        }
    }

    &__btn--blue {
        color: $blue;
        .modal__btn-content {
            background-color: #e6edff;
        }
    }

    &__btn--green {
        color: $green;

        .modal__btn-content {
            background-color: #E5F4F3;
        }
    }

    &__btn-wrapper {
        text-align: right;
    }
    
    &__btn-content {
        text-align: center;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        border-radius: 26px;
        background-color: #e6edff;
        padding: 10px 35px;
    }
}

.cabinets {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 45px;

    &__info-item {
        display: none;
        &.active {
            display: block;
        }
    }

    &__foot {
        text-align: right;
        margin-left: -15px;
        margin-right: -15px;

        .modal__btn {
            min-width: 170px;
            margin-left: 15px;
            margin-right: 15px;
        }
    }
    
    &__content {
        width: 100%;
        height: 315px;
        padding-right: 60px;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 3px;               /* width of the entire scrollbar */
        }
        &::-webkit-scrollbar-track {
            background:#DFDFDF;        /* color of the tracking area */
        }
        &::-webkit-scrollbar-thumb {
            background-color: $green;    /* color of the scroll thumb */
        }
        scrollbar-width: thin;          /* "auto" or "thin" */
        scrollbar-color: $green #DFDFDF;   /* scroll thumb and track */
    }
    &__item {
        
        border-bottom: 1px solid #DFDFDF;
        &:first-child {
            border-top: 1px solid #DFDFDF;
        }

        label {
            display: block;
            padding: 13px 0;
        }
    }
    &__item label {
        display: flex;
        align-items: center;
    }
    &__info {
        max-width: 260px;
        width: 100%;
        padding-left: 60px;
    }
}

// Страница для теста модалок
.modals {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    a {
        display: block;
        margin-bottom: 20px;
        border: 3px solid $grey;
        padding: 20px;
        text-transform: uppercase;
    }
}