.news-page {
    &__title {
        margin-bottom: 60px;
    }
    padding-bottom: 150px;
}
.news {
    padding: 75px 0;

    &__head {
        margin-bottom: 60px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin: -15px;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    &__item {
        display: block;
        padding: 10px;
        box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
        margin: 15px;
        flex-basis: calc(25% - 30px);
        transition: .2s ease;
    }

    &__small-items {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    &__items {
        flex-basis: 50%;
        display: flex;
        flex-wrap: wrap;

        .news__item {
            flex-basis: calc(50% - 30px);
        }
    }
    
    &__item--big {
        padding: 20px;
        flex-basis: calc(50% - 30px);
        
        .news__img {
            margin-bottom: 20px;
            img {
                height: 300px;
            }
        }

        .news__item-title {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 20px;
        }
    }
    &__text {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        margin-bottom: 20px;
    }

    &__img {
        margin-bottom: 10px;
        border-radius: 5px;
        img {
            height: 140px;
            width: 100%;
        }
    }

    &__item-title {
        margin-bottom: 10px;
        // font-family: 'Roboto-Medium', sans-serif;
        font-weight: 500;
    }

    &__date {
        position: relative;
        display: inline-block;
        padding-left: 18px;

        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #f95858;
        }
    }
}
