.partners {
    padding-top: 75px;
    padding-bottom: 120px;

    &__title {
        margin-bottom: 60px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    &__item {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
        background-color: #ffffff;
        box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
        flex-basis: calc(25% - 30px);

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 30px 50px;
        }
    }

    &__img {
        margin-bottom: 30px;
    }

    &__name {
        font-family: 'Roboto-Medium', sans-serif;
        margin-bottom: 25px;
    }

    &__link {
        margin-top: auto;
        position: relative;
        padding-left: 30px;
        color: $blue;
        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 19px;
            height: 19px;
            background: url('../images/dist/link.svg') no-repeat center;
        }
    }
}
