.reviews {
    padding: 75px 0;
    position: relative;
    background: url('../images/dist/decor.svg') no-repeat left center,
                url('../images/dist/decor-2.svg') no-repeat right 100px top 160px;

    &__head {
        margin-bottom: 30px;
    }

    &__slider {
        height: 300px;
        margin-bottom: 10px;
        margin-left: -15px;
        margin-right: -15px;
    }
    
}

.reviews-item {
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;

    &--answer {
        margin-top: 20px;
        position: relative;
        margin-left: 60px;
        &::before {
            position: absolute;
            content: "";
            left: -34px;
            top: -18px;
            z-index: -1;
            width: 32px;
            height: 117px;
            background: url('../images/dist/comment-line.svg') center no-repeat;
        }

        .reviews-item__content {
            background-color: #E5F4F3;
        }
        .reviews-item__right {
            color: $black;
        }
    }

    &__icon {
        margin-left: 20px;
        flex-shrink: 0;
    }

    &__content {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
        padding: 30px;
        height: 100%;
        background-color: #ffffff;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    &__head-left {
        display: flex;
        align-items: center;
    }

    &__author {
        // font-family: 'Roboto-Medium', sans-serif;
        font-weight: 500;
    }

    &__rating {
        margin-left: 20px;
    }

    &__right {
        color: #DFDFDF;
        margin-left: 10px;
    }

    

}
.rating {
    display: flex;

    &__item {
        margin-left: 3px;
    }
}
