.reviews {
    padding: 75px 0;
    position: relative;
    background: url('../images/dist/decor.svg') no-repeat left center,
                url('../images/dist/decor-2.svg') no-repeat right 100px top 160px;


    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    &__title {
    }

    &__link {
        color: $green;
    }

    &__slider {
        max-height: 400px;
        margin-bottom: 10px;
        margin-left: -15px;
        margin-right: -15px;
    }

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__next,
    &__prev {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85px;
        height: 40px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        margin: 0 15px;
        cursor: pointer;

        &.swiper-button-disabled {
            opacity: .5;
        }
    }

    &__prev {
        img {
            transform: rotate(180deg);
        }
    }

}

.reviews-item {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    min-height: 270px;

    &__content {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
        padding: 30px;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    &__head-left {
        display: flex;
        align-items: center;
    }

    &__author {
        font-family: 'Roboto-Medium', sans-serif;
        font-weight: 500;
    }

    &__rating {
        margin-left: 20px;
    }

    &__right {
        color: #DFDFDF;
        margin-left: 10px;
    }

    

}
.rating {
    display: flex;

    &__item {
        margin-left: 3px;
    }
}
