.team {
    padding-bottom: 150px;

    &__title {
        margin-bottom: 60px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    &__item {
        margin: 15px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
        border-radius: 5px;
        width: calc(33.333% - 30px);
    }

    &__img {
        height: 370px;
        background-color: #DFDFDF;
        img {
            height: 370px;
            width: 100%;
        }
    }

    &__content {
        padding: 20px;
    }

    &__name {
        margin-bottom: 10px;
        // font-family: 'Roboto-Medium', sans-serif;
        font-weight: 500;
    }

    &__position {
        color: $blue;
        margin-bottom: 20px;
    }

    &__contacts {
    }

    &__contact {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        img {
            margin-right: 10px;
            flex-shrink: 0;
        }
    }

    &__schedule {
    }

    &__schedule-title {
        // font-family: 'Roboto-Medium', sans-serif;
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__schedule-item {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
