@media (min-width: 1025px) {
    .header {
        &__top-content a:hover {
            color: $green;
        }
        &__navigation-list ul a:hover {
            background-color: #f1efef;
        }
        &__navigation-list:hover ul {
            display: block;
        }
        &__contact:hover {
            span::after {
                width: 100%;
            }
        }
        &__btn {
            &:hover {
                background-color: #E6EDFF;
            }
            &--blue:hover {
                background-color: #E6EDFF;
            }
            &--green:hover {
                background-color: #E5F4F3;
            }
        }
    }
}

@media (max-width: 1280px) {
    .header {
        &__contact {
            margin-left: 30px;
        }
        &__btn {
            min-width: 180px;
        }
        &__middle-content {
            padding: 10px 0;
        }
    }
}

@media (max-width: 1024px) {
    .reviews {
        padding: 35px 0;
        background: 0;
    }
    .title {
        font-size: 26px;
        line-height: 32px;
    }
    .feedback {
        padding: 35px 0;
        &__subtitle {
            font-size: 14px;
        }
    }
    .branches {
        padding: 35px 0;
    }
    .info {
        padding: 35px 0;
    }
    .hero {
        padding-bottom: 35px;
        &__bottom-count {
            font-size: 24px;
            line-height: 32px;
        }
        &__bottom-head img {
            max-width: 30px;
            max-height: 25px;
        }
        &__bottom {
            padding: 0;
            padding-top: 30px;
            margin-top: 0;
        }
        &__bottom-list {
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px;
        }
        &__bottom-item {
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 20px;
        }
        &__slider {
            height: 600px;
        }
        &__widget {
            display: none;
        }
        &__content {
            max-width: 100%;
            text-align: center;
        }
        &__title {
            font-size: 28px;
            line-height: 37px;
        }
        &__text {
            font-size: 16px;
            line-height: 21px;
        }
        &__pagination {
            flex-direction: row;
            width: auto;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: auto;
            transform: none;
            bottom: 350px;
            justify-content: center;

            .swiper-pagination-bullet {
                margin: 0 7px;
                width: 15px;
                height: 15px;
            }
        }
    }
    .header {
        &__menu-btn {
            display: block;
        }
        &__bottom {
            display: none;
        }
        &__top {
            display: none;
        }
        &__contacts {
            display: none;
        }
        &__logo-wrapper {
            display: flex;
            align-items: center;
        }
        &__logo {
            margin-left: 35px;
        }
        &__menu-btn {
            span {
                background-color: $green;
            }
        }
    }
}

@media (max-width: 900px) {
    .feedback {
        &__inner {
            flex-direction: column;
        }
        &__item {
            max-width: 100%;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .info {
        &__inner {
            flex-direction: column;
        }

        &__text {
            max-width: 100%;
            margin-bottom: 30px;
        }
        &__img {
            text-align: center;
            max-width: 100%;
            margin-left: 0;
        }
    }
}

@media (max-width: 768px) {
    .reviews {
        &__head {
            flex-direction: column;
        }
    }
    .reviews-item {
        &__rating {
            margin-bottom: 5px;
            margin-left: 5px;
            margin-right: 5px;
        }
        &__author {
            margin-bottom: 5px;
            margin-right: 5px;
            margin-left: 5px;
        }
        &__content {
            padding: 15px;
        }
        &__head {
            flex-wrap: wrap;
            align-items: flex-start;
            margin-bottom: 15px;
        }
        &__head-left {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__right {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .branches {
        &__list {
            margin-left: 0;
            margin-right: 0;
        }
        &__item {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 20px;

            a {
                padding-left: 30px;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-right: 15px;
                &::before {
                    left: 10px;
                }
            }
        }
        &__title {
            margin-bottom: 40px;
        }
    }
    .feedback {
        &__item {
            padding-left: 20px;
            background-position: bottom -70px right -60px;
        }
        &__item--white {
            padding-right: 80px;
        }
    }
    .hero {
        &__bottom {
            box-shadow: none;
        }
        &__bottom-head img {
            flex-shrink: 1;
        }
        &__bottom-item {
            max-width: calc(33.333% - 30px);
        }
    }
    .header {
        
        &__logo {
            margin: 0 10px;
        }
        &__btn {
            padding: 0;
            border: none;
            min-width: auto;
            span {
                display: none;
            }
            img {
                margin: 0;
            }
        }
        &__btn:last-child {
            display: none;
        }
    }
}

@media (max-width: 600px) {
    .hero {
        &__content {
            margin-bottom: 100px;
        }
        &__slider {
            height: 470px;
        }
    }
}

@media (max-width: 450px) {
    .hero {
        &__bottom-head {
            img {
                margin-left: 10px;
            }
        }
    }

}
@media (max-width: 400px) {
    .hero {
        &__bottom-item {
            &:nth-child(4),
            &:nth-child(5) {
                max-width: calc(50% - 30px);
            }
        }
    }
}