@media (min-width: 1025px) {
    .modal__btn {
        &:hover {
            background-color: #E6EDFF;
        }

        &--green {
            &:hover {
                background-color: #E5F4F3;
            }
        }
    }
    .clinic__btn:hover {
        background-color: #E5F4F3;
    }
    .gallery__item a:hover {
        &::before {
            opacity: 0.5;
        }
        &::after {
            opacity: 1;
        }
    }
    .reviews-form__btn:hover {
        background-color: #E5F4F3;
    }
    .pagination {
        li:hover {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        }
    }
    .services__item:hover {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    }
    .footer {
        &__list a:hover {
            color: $green;
        }
    }
    .breadcrumbs li:hover {
        text-decoration: underline;
    }
    .news__item:hover {
        box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
    }
    .partners__item:hover {
        box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
    }
    .feedback {
        &__item:hover {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        }
        &__item--green:hover {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
        }
    }
    .branches {
        &__item:hover {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        }
    }
    .header {
        &__top-content a:hover {
            color: $green;
        }
        &__navigation-list ul a:hover {
            background-color: #f1efef;
        }
        &__navigation-list:hover ul {
            display: block;
        }
        &__contact:hover {
            span::after {
                width: 100%;
            }
        }
        &__btn {
            &:hover {
                background-color: #E6EDFF;
            }
            &--blue:hover {
                background-color: #E6EDFF;
            }
            &--green:hover {
                background-color: #E5F4F3;
            }
        }
    }
}

@media (max-width: 1280px) {
    .partners {
        &__item a {
            padding: 20px;
        }
    }
    .header {
        &__contact {
            margin-left: 30px;
        }
        &__btn {
            min-width: 180px;
        }
        &__middle-content {
            padding: 10px 0;
        }
    }
}

@media (max-width: 1024px) {
    .modal {
        &__title {
            margin-bottom: 40px;
        }
        &__body {
            padding: 30px;
        }
        &__col {
            width: 47%;
        }
    }
    .clinic {
        padding-bottom: 70px;
    }
    body .section {
        &__box {
            margin-bottom: 40px;
        }
    }
    .department {
        padding-bottom: 70px;

        &__box {
            padding: 15px;

            p {
                margin-bottom: 20px;
            }
        }
        
        &__title {
            margin-bottom: 40px;
        }
        
        .hero__bottom-list {
            justify-content: space-around;
        }
    }
    .contacts {
        padding-bottom: 70px;
        &__map {
            margin-right: 50px;
        }
    }
    .history {
        padding-bottom: 70px;
    }
    .team {
        padding-bottom: 70px;
        &__item {
            width: calc(50% - 30px);
        }
    }
    .reviews-page {
        padding-bottom: 70px;
    }
    .services {
        padding-bottom: 70px;
    }
    .article {
        padding-bottom: 70px;
        &__content {
            padding: 15px;
        }
        &__news-title {
            margin-bottom: 25px;
        }
        &__inner {
            margin-bottom: 40px;
        }
    }
    .news-page__title {
        margin-bottom: 40px;
    }
    .footer {
        &__col {
            width: 100%;
        }
    }
    .partners {
        padding-top: 35px;
        padding-bottom: 70px;
    }
    .news {
        padding: 35px 0;
    }
    .reviews {
        padding: 35px 0;
        background: 0;
    }
    .title {
        font-size: 26px;
        line-height: 32px;
    }
    .feedback {
        padding: 35px 0;
        &__subtitle {
            font-size: 14px;
        }
    }
    .branches {
        padding: 35px 0;
    }
    .info {
        padding: 35px 0;
    }
    .hero {
        padding-bottom: 35px;
        &__bottom-count {
            font-size: 24px;
            line-height: 32px;
        }
        &__bottom-head img {
            max-width: 30px;
            max-height: 25px;
        }
        &__bottom {
            padding: 0;
            padding-top: 30px;
            margin-top: 30px;
        }
        &__bottom-list {
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px;
        }
        &__bottom-item {
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 20px;
        }
        &__slider {
            height: 600px;
        }
        &__widget {
            display: none;
        }
        &__content {
            max-width: 100%;
            text-align: center;
        }
        &__title {
            font-size: 28px;
            line-height: 37px;
        }
        &__text {
            font-size: 16px;
            line-height: 21px;
        }
        &__pagination {
            flex-direction: row;
            width: auto;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: auto;
            transform: none;
            bottom: 350px;
            justify-content: center;

            .swiper-pagination-bullet {
                margin: 0 7px;
                width: 15px;
                height: 15px;
            }
        }
    }
    .header {
        margin-bottom: 75px;
        &__middle {
            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
            position: fixed;
            left: 0;
            width: 100%;
            top: 0;
            z-index: 15;
            background-color: #ffffff;
        }
        &__menu-btn {
            display: block;
        }
        &__bottom {
            display: none;
        }
        &__top {
            display: none;
        }
        &__contacts {
            display: none;
        }
        &__logo-wrapper {
            display: flex;
            align-items: center;
        }
        &__logo {
            margin-left: 35px;
        }
        &__menu-btn {
            span {
                background-color: $green;
            }
        }
    }
}

@media (max-width: 900px) {
    .news__items .news__item {
        flex-basis: calc(50% - 14px);
    }
    .department-team {
        margin-bottom: 40px;
        &__item {
            width: calc(50% - 30px);
        }
    }
    .article {
        .news__item {
            max-width: calc(33.333% - 40px);
        }
    }
    .partners {
        &__item {
            flex-basis: calc(50% - 30px);
        }
    }
    .news {
        &__small-items {
            margin: -7px;
            .news__item {
                flex-basis: calc(50% - 14px);
                margin: 7px;
            }
        }
        &__list {
            flex-direction: column;
            margin: -7px;
        }
        &__item {
            margin: 7px;
            flex-basis: calc(50% - 14px);
        }
        &__item--big {
            padding: 10px;
            .news__item-title {
                font-size: 20px;
                line-height: 28px;
            }
            .news__img img {
                height: 250px;
            }
        }
        
    }
    .feedback {
        &__inner {
            flex-direction: column;
        }
        &__item {
            max-width: 100%;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .info {
        &__inner {
            flex-direction: column;
        }

        &__text {
            max-width: 100%;
            margin-bottom: 30px;
        }
        &__img {
            text-align: center;
            max-width: 100%;
            margin-left: 0;
        }
    }
}

@media (max-width: 768px) {
    .modal {
        &__container {
            padding-right: 0;
        }
        &__img {
            margin-bottom: 15px;
        }
        &__subtitle {
            font-size: 16px;
        }
    }
    #modal-3 .modal__title {
        margin-bottom: 20px;
    }
    .clinic {
        &__info {
            flex-direction: column;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
            border-radius: 5px;
            background-color: #fff;
            margin-top: 60px;
        }
        &__contacts {
            max-width: 100%;
            border-radius: 0;
            box-shadow: none;
            padding: 15px;
            padding-top: 30px;
        }
        &__desc {
            max-width: 100%;
            margin-left: 0;
            border-radius: 0;
            box-shadow: none;
            padding: 15px;
        }
        .hero__bottom-item {
            max-width: 100%;
        }
        &__accordion-title {
            line-height: 24px;
            font-size: 14px;
        }
    }
    .department {
        &__subtitle {
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 28px;
        }
    }
    .gallery__title {
        font-size: 20px;
        line-height: 28px;
    }
    .department-team {
        &__img {
            height: 250px;
            img {
                height: 250px;
            }
        }
    }
    .contacts {
        &__map {
            iframe {
                height: 300px;
            }
        }
        &__title {
            margin-bottom: 40px;
        }
        &__subtitle {
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 30px;
        }
        &__content {
            flex-direction: column-reverse;
        }
        &__list {
            max-width: 100%;
            margin-bottom: 20px;
        }
        &__map {
            margin-right: 0;
        }
    }
    .gallery {
        &__item {
            width: calc(33.333% - 30px);
        }
    }
    .history {
        &__text {
            font-size: 14px;
        }
        &__title {
            margin-bottom: 40px;
        }
        &__item {
            font-size: 14px;
            padding-left: 40px;
            &::before {
                left: 0;
                width: 30px;
                height: 30px;
                border: 10px solid #e5f4f3;
            }

            &::after {
                left: 15px;
            }
        }
    }
    .reviews-page {
        .reviews-item__author {
            margin: 0;
        }
        .reviews-item__head-left {
            margin-bottom: 5px;
            margin-right: 10px;
        }
    }
    .reviews-item {
        &--answer {
            margin-left: 20px;
            &::before {
                left: -10px;
            }
        }
    }
    .services__title {
        margin-bottom: 35px;
    }
    .services__subtitle {
        margin-right: 20px;
    }
    .services__item {
        padding: 0 15px;
        font-size: 14px;
        a {
            margin: 0 -15px;
            padding: 15px;
            padding-right: 40px;

            &::before,
            &::after {
                right: 15px;
            }
        }
    }
    .pagination {
        li:nth-child(4),
        li:nth-child(5) {
            display: none;
        }
    }
    .footer {
        padding-top: 30px;
        &__inner {
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;
        }
        &__list a {
            display: block;
            width: 100%;
        }
        &__col {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .section {
        &__head {
            flex-direction: column;
        }
    }
    .reviews-item {
        &__rating {
            margin-bottom: 5px;
            margin-left: 5px;
            margin-right: 5px;
        }
        &__author {
            margin-bottom: 5px;
            margin-right: 5px;
            margin-left: 5px;
        }
        &__content {
            padding: 15px;
        }
        &__head {
            flex-wrap: wrap;
            align-items: flex-start;
            margin-bottom: 15px;
        }
        &__head-left {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__right {
            text-align: left;
            margin-left: 5px;
            margin-right: 0;
        }
    }
    .branches {
        &__list {
            margin-left: 0;
            margin-right: 0;
        }
        &__item {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 20px;

            a {
                padding-left: 30px;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-right: 15px;
                &::before {
                    left: 10px;
                }
            }
        }
        &__title {
            margin-bottom: 40px;
        }
    }
    .feedback {
        &__item {
            padding-left: 20px;
        }
        
        &__item--white {
            padding-right: 80px;
            background-position: bottom -70px right -60px;
        }
    }
    .hero {
        &__bottom {
            box-shadow: none;
        }
        &__bottom-head img {
            flex-shrink: 1;
        }
        &__bottom-list {
            margin-left: -10px;
            margin-right: -10px;
        }
        &__bottom-item {
            margin-left: 10px;
            margin-right: 10px;
            max-width: calc(33.333% - 20px);
        }
    }
    .header {
        
        &__logo {
            margin: 0 10px;
        }
        &__btn {
            padding: 0;
            border: none;
            min-width: auto;
            span {
                display: none;
            }
            img {
                margin: 0;
            }
        }
        &__btn:last-child {
            display: none;
        }
    }
}

@media (max-width: 640px) {
    .cabinets {
        &__content {
            padding-right: 30px;
        }
        &__info {
            padding-left: 30px;
        }
    }
    .modal {
        &__close {
            right: 0;
        }
        &__body {
            padding: 15px;
        }
        &__row {
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;
        }
        &__col {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
        &__foot .modal__col {
            width: 100%;
        }
        &__btn-wrapper {
            text-align: center;
        }
        &__fields {
            margin-bottom: 0;
        }
        &__radio {
            width: 25px;
            height: 25px;
            border-width: 8px;
        }
        &__check {
            margin-bottom: 25px;
            span {
                font-size: 14px;
                margin-left: 15px;
            }
        }
    }
    .article .news__item {
        max-width: calc(50% - 34px);
    }
    .team {
        &__content {
            padding: 12px;
        }
        &__list {
            margin-left: 0;
            margin-right: 0;
        }
        &__item {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
    }
}
@media (max-width: 600px) {
    .gallery__item {
        width: calc(50% - 30px);
    }
    .reviews-page {
        &__item {
            padding: 15px;
        }
    }
    
    .hero {
        &__content {
            margin-bottom: 100px;
        }
        &__slider {
            height: 470px;
        }
    }
}

@media (max-width: 480px) {
    .reviews__slider {
        min-height: 350px;
        height: auto;
    }
    .cabinets {
        flex-direction: column;
        margin-bottom: 20px;

        &__content {
            height: 200px;
            margin-bottom: 30px;
        }
        &__foot {
            text-align: center;
            margin: -10px;
            .modal__btn {
                margin: 10px;
            }
        }
        &__info {
            padding-left: 0;
            max-width: 100%;
        }
    }
    .department-team {
        &__list {
            margin-left: 0;
            margin-right: 0;
        }
        &__item {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }
    .reviews-form {
        &__row {
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;
            .reviews-form__item {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .article .news__item {
        max-width: calc(100% - 20px);
        margin: 0;
    }
    .news {
        &__items {
            flex-direction: column;
        }
        &__small-items {
            .news__item {
                flex-basis: 100%;
            }
        }
        &__item {
            flex-basis: 100%;
        }
        &__img img {
            height: 200px;
        }
    }
}

@media (max-width: 450px) {
    .gallery__list {
        margin-left: 0;
        margin-right: 0;
    }
    .gallery__item {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .partners {
        &__list {
            margin-left: 0;
            margin-right: 0;
        }
        &__item {
            flex-basis: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }
    .hero {
        &__bottom-head {
            img {
                margin-left: 10px;
            }
        }
    }

}
@media (max-width: 400px) {
    .hero {
        &__bottom-item {
            &:nth-child(4),
            &:nth-child(5) {
                max-width: calc(50% - 30px);
            }
        }
    }
}